.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.logoText {
  font-weight: 700;
  font-size: 42px;
}

.subTextContainer {
  margin: 1.5rem 0;
}

.subText {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
}
