.container {
  width: 100%;
}

.inputSectionContainer {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid var(--block-border-light-color);
  border-radius: 4px;
  border-bottom: 3px solid var(--block-border-dark-color);
  background-color: rgb(240, 243, 246);
}

.tagsContainer {
  display: flex;
  max-width: 100%;
  scrollbar-width: none;
  flex-wrap: wrap;
  transition: all 0.2s ease-in;
}

.tagContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background: var(--block-bg);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin: 0.4rem 0.2rem;
}

.tag {
  color: var(--block-text-color);
}

.inputContainer {
  width: 100%;
}

.input {
  border: 0;
  padding: 0.5rem;
  width: 100%;
  outline: none;
  background-color: rgb(240, 243, 246);
}

.removeTag {
  border: 0;
  background-color: unset;
  color: var(--block-text-color);
  cursor: pointer;
  padding: 0 0.4rem;
  /* font-size: 1rem; */
}
