.container {
  padding: 10vh 0;
  max-width: 100%;
  text-align: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.logoText {
  font-weight: 700;
  font-size: 42px;
}

.subTextContainer {
  margin-top: 1.5rem;
}

.subText {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
}

.searchInputContainer {
  width: 100%;
  margin: 2rem 0;
}
