.container {
  padding: 10vh 0;
  max-width: 100%;
  text-align: center;
}

.searchInputContainer {
  width: 80%;
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.excludeTermsContainer {
  width: 80%;
  margin: 0 auto;
}

.sectionMargin {
  margin-bottom: 3.75rem;
}

@media screen and (max-width: 640px) {
  .submitQueryButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
