@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-family: "Lato", sans-serif;
  --bg-color: white;
  --block-bg: #343a40;
  --block-text-color: white;
  --block-border-light-color: #c6c6c6;
  --block-border-dark-color: var(--block-bg);
}

body {
  min-height: 100vh;
  transition: all 0.4s ease-in;
  background: var(--bg-color);
}

html.dark {
  --bg-color: #343a40;
  --block-bg: white;
  --block-text-color: #343a40;
  --block-border-light-color: white;
  --block-border-dark-color: var(--block-bg);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #343a40;
    --block-bg: white;
    --block-text-color: #white;
    --block-border-light-color: white;
    background-color: var(--bg-color);
    --block-border-dark-color: var(--block-bg);
  }

  html.light {
    --bg-color: white;
    --block-bg: #343a40;
    --block-text-color: white;
    --block-border-light-color: #c6c6c6;
    --block-border-dark-color: var(--block-bg);
  }
} */
