* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
  transition: all 0.4s ease-in;
  background: var(--bg-color);
  --bg-color: white;
  --block-bg: #343a40;
  --block-text-color: white;
  --block-border-light-color: #c6c6c6;
  --block-border-dark-color: var(--block-bg);
}

body.dark-mode {
  background-color: var(--bg-color);
  --bg-color: #343a40;
  --block-bg: white;
  --block-text-color: #343a40;
  --block-border-light-color: white;
  --block-border-dark-color: var(--block-bg);
}

@media (prefers-color-scheme: dark) {
  body {
    min-height: 100vh;
    width: 80vw;
    margin: 0 auto;
    --bg-color: #343a40;
    --block-bg: white;
    --block-text-color: #white;
    --block-border-light-color: white;
    background-color: var(--bg-color);
    --block-border-dark-color: var(--block-bg);
  }

  body.light-mode {
    background: gray;
    background: var(--bg-color);
    --bg-color: white;
    --block-bg: #343a40;
    --block-text-color: white;
    --block-border-light-color: #c6c6c6;
    --block-border-dark-color: var(--block-bg);
  }
}
